ENVIRONMENT=production
DEBUG=False
API_HOST=0.0.0.0
API_PORT=8000
POSTGRES_SERVER=db.internal
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
MONGO_URI=
REDIS_URL=
OLLAMA_HOST=http://ollama:11434
SECRET_KEY=
ACCESS_TOKEN_EXPIRE_MINUTES=15
